.contacts{
    background-image: url('../../images/contacts-bg.jpg');
    background-repeat: no-repeat;
    background-position: bottom left;
}
.contacts__box {
    margin-left: auto;
    width: 390px;
    background-color: #ffffff;
    padding: 33px 0 33px 20px;
}

.contacts__box-text {
    width: 195px;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    line-height: 24px;
    color: #232222;
    margin-bottom: 30px;
}

.contacts__box-list{
    list-style: none;
    font-size: 18px;
    line-height: 21px;
    color: #232222;

}

.contacts__box-item {
    margin-top: 30px;
}

.contacts__box-item span{
    display: block;
}