.footer{
    padding: 25px 0 110px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 45px 0 23px;
}

.footer__inner .menu{
    padding-bottom: 30px;
}

.footer-social__list {
    list-style: none;
    display: flex;
    align-items: center;
    padding-bottom: 19px;
}

.footer-social__item + .footer-social__item {
    margin-left: 10px;
}

.footer-social__link path{
    transition: all .3s;
}

.footer-social__link:hover path{
    fill: #001e64;

}
