.product {
    padding-top: 100px;
}

.product__inner {
    display: flex;
    justify-content: space-between;
}

.product__name {
    width: 510px;
    text-align: center;
    padding-top: 41px;
}

.product__name-item {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    cursor: pointer;
}

.product__name-item.slick-current {
    font-weight: 700;
    font-size: 36px;
    color: #001e64;
    cursor: pointer;
}

.product__name-item + .product__name-item {
    margin-top: 30px;
}

.product-prev {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.product-prev,
.product-next {
    border: none;
    background-color: transparent;
    padding: 0;
}

.product__content {
    width: 600px;
}

.product__content-box {
    display: flex;
    justify-content: space-between;
}

.product__content-img {
    object-fit: contain;
}

.product__content-list {
    width: 291px;
    list-style: none;
}

.product__content-item {
    margin-top: 30px;

}

.product__content-item span {
    display: block;
    margin-bottom: 10px;
    color: #001e64;
}

.product__content-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #001e64;
    padding-top: 20px;
    margin-bottom: 20px;
}

.product__content-text {
    margin-bottom: 25px;
}

.product__content-btn {
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    padding: 12px 85px;
    background-color: transparent;
    text-transform: uppercase;
    display: inline-block;
    color: #001e64;
    border: 1px solid #001e64;
    border-radius: 20px;
    cursor: pointer;
}

.product__content-btn:hover{
    transition: all .3s;
    background-color: #001e64;
    color: #fff;
}





