.seafood {
    padding: 100px;
}

.seafood__items {
    margin-bottom: 100px;
}

.seafood__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.seafood__item-title {
    max-width: 490px;
    margin-bottom: 30px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #001E64;
}

.seafood__item-text {
    max-width: 420px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #232222;
}

.seafood__item-text-right .seafood__item-title {
    max-width: 420px;
}

.seafood__item-text-right .seafood__item-content {
    max-width: 420px;
    margin-right: 180px;
}

.seafood-blockquote {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.seafood__blockquote-text {
    max-width: 696px;
    margin: 0 auto;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}